@page "/"
@using Microsoft.Extensions.Logging

@inject ILogger<Index> Logger

<img src="https://user-images.githubusercontent.com/4441470/224455560-91ed3ee7-f510-4041-a8d2-3fc093025112.png" />
<h1>Soenneker.TrustedForm.Blazor demo</h1>
<p>This page demonstrates some of the common usages for the interop library.</p>
<br />

<hr />

@code{

    protected override void OnInitialized()
    {
    }
}
