@using System.Threading
@using Microsoft.JSInterop
@using Soenneker.Blazor.Extensions.EventCallback
@using Soenneker.Extensions.CancellationTokens
@using Soenneker.Extensions.ValueTask
@using Soenneker.TrustedForm.Blazor.Abstract
@using Soenneker.TrustedForm.Blazor.Options

@inject ITrustedFormInterop TrustedFormInterop

@inherits Soenneker.Quark.Components.Cancellable.CancellableComponent
@implements ITrustedForm

<div id="@_elementId" @attributes="Attributes" ></div>

@if (Configuration.IncludeForm)
{
    <form></form>
}

@code {
    [Parameter(CaptureUnmatchedValues = true)]
    public Dictionary<string, object?>? Attributes { get; set; }

    private DotNetObjectReference<TrustedForm>? _dotNetReference;

    private readonly string _elementGuid;
    private readonly string _elementId;

    private bool _initialized;
    private bool _isCreated;
    private bool _shouldRender = true;

    [Parameter]
    public EventCallback OnLoad { get; set; }

    [Parameter]
    public TrustedFormConfiguration Configuration { get; set; } = new();

    protected override bool ShouldRender() => _shouldRender;

    protected override void OnInitialized() => _dotNetReference = DotNetObjectReference.Create(this);

    public TrustedForm()
    {
        _elementGuid = Guid.NewGuid().ToString();
        _elementId = $"trustedform-{_elementGuid}";
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender && !_isCreated)
        {
            Configuration.Field ??= $"trustedform-field-{_elementGuid}";

            await Create(CancellationToken).NoSync();
        }
    }

    private async ValueTask Create(CancellationToken cancellationToken)
    {
        if (_initialized)
            return;

        _initialized = true;

        await TrustedFormInterop.Init(_elementId, Configuration, _dotNetReference!, cancellationToken).NoSync();
        await TrustedFormInterop.CreateObserver(_elementId, cancellationToken).NoSync();

        _isCreated = true;
        _shouldRender = false;
    }

    public async ValueTask<string?> GetCertUrl(CancellationToken cancellationToken = default)
    {
        CancellationToken linked = CancellationToken.Link(cancellationToken, out CancellationTokenSource? cts);

        using (cts)
            return await TrustedFormInterop.GetCertUrl(_elementId, linked).NoSync();
    }

    public async ValueTask Stop(CancellationToken cancellationToken = default)
    {
        CancellationToken linked = CancellationToken.Link(cancellationToken, out CancellationTokenSource? cts);

        using (cts)
            await TrustedFormInterop.Stop(linked).NoSync();
    }

    public async ValueTask Start(CancellationToken cancellationToken = default)
    {
        CancellationToken linked = CancellationToken.Link(cancellationToken, out CancellationTokenSource? cts);

        using (cts)
            await TrustedFormInterop.Start(linked).NoSync();
    }

    [JSInvokable]
    public Task OnLoadCallback()
    {
        return OnLoad.InvokeIfHasDelegate();
    }

    public override async ValueTask DisposeAsync()
    {
        await base.DisposeAsync().NoSync();

        _initialized = false;
        _isCreated = false;

        _dotNetReference?.Dispose();
    }

}