@using System.Threading
@using Microsoft.AspNetCore.Components.Forms
@using Microsoft.JSInterop
@using Soenneker.Blazor.Extensions.EventCallback
@using Soenneker.Dtos.ProblemDetails
@using Soenneker.Extensions.CancellationTokens
@using Soenneker.TrustedForm.Blazor.Abstract
@using Soenneker.TrustedForm.Blazor.Options

@inject ITrustedFormInterop TrustedFormInterop

@inherits Soenneker.Quark.CoreCancellableElement
@implements ITrustedForm

<div id="@Id" @attributes="Attributes">
    @if (Configuration.IncludeForm)
    {
        <EditForm EditContext="@_ctx" OnSubmit="OnSubmit" id="@(Id + "-form")">
            @ChildContent
            <button id="@(Id + "-submit")" type="submit" style="display:none"></button>
        </EditForm>
    }
    else
    {
        @ChildContent
    }
</div>

@code {
    private DotNetObjectReference<TrustedForm>? _dotNetReference;

    private readonly string _elementGuid;

    private bool _initialized;
    private bool _isCreated;
    
    private readonly EditContext _ctx = new(new object());
    private static Task OnSubmit() => Task.CompletedTask;

    [Parameter]
    public EventCallback OnLoad { get; set; }

    [Parameter]
    public ProblemDetailsDto? ProblemDetails { get; set; }

    [Parameter]
    public EventCallback<ProblemDetailsDto?> ProblemDetailsChanged { get; set; }

    [Parameter]
    public RenderFragment<ProblemDetailsDto>? ProblemDetailsContent { get; set; }

    [Parameter]
    public TrustedFormConfiguration Configuration { get; set; } = new();

    // Allow rendering to ensure child components can update their state
    protected override bool ShouldRender() => true;

    protected override void OnInitialized() => _dotNetReference = DotNetObjectReference.Create(this);

    public TrustedForm()
    {
        _elementGuid = Guid.NewGuid().ToString();
        Id = $"trustedform-{_elementGuid}";
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender && !_isCreated)
        {
            Configuration.Field ??= $"trustedform-field-{_elementGuid}";

            await Create(CancellationToken);
        }
    }

    private async ValueTask Create(CancellationToken cancellationToken)
    {
        if (_initialized)
            return;

        _initialized = true;

        try
        {
            await TrustedFormInterop.Init(Id!, Configuration, _dotNetReference!, cancellationToken);
            await TrustedFormInterop.CreateObserver(Id!, cancellationToken);
            await SetProblemDetails(null);
            _isCreated = true;
        }
        catch (Exception ex)
        {
            _initialized = false;
            _isCreated = false;
            await SetProblemDetails(new ProblemDetailsDto
            {
                Title = "TrustedForm failed to initialize",
                Detail = ex.Message,
                Status = 500
            });
        }
    }

    public async ValueTask<string?> GetCertUrl(CancellationToken cancellationToken = default)
    {
        CancellationToken linked = CancellationToken.Link(cancellationToken, out CancellationTokenSource? cts);

        using (cts)
            return await TrustedFormInterop.GetCertUrl(Id!, linked);
    }

    public async ValueTask Stop(CancellationToken cancellationToken = default)
    {
        CancellationToken linked = CancellationToken.Link(cancellationToken, out CancellationTokenSource? cts);

        using (cts)
            await TrustedFormInterop.Stop(linked);
    }

    public async ValueTask Start(CancellationToken cancellationToken = default)
    {
        CancellationToken linked = CancellationToken.Link(cancellationToken, out CancellationTokenSource? cts);

        using (cts)
            await TrustedFormInterop.Start(linked);
    }

    public async ValueTask StartIfNotRunning(CancellationToken cancellationToken = default)
    {
        CancellationToken linked = CancellationToken.Link(cancellationToken, out CancellationTokenSource? cts);

        using (cts)
            await TrustedFormInterop.StartIfNotRunning(linked);
    }

    public bool IsRecording()
    {
        return TrustedFormInterop.IsRecording();
    }

    public async ValueTask Finalize(CancellationToken cancellationToken = default)
    {
        CancellationToken linked = CancellationToken.Link(cancellationToken, out CancellationTokenSource? cts);

        using (cts)
        {
            await TrustedFormInterop.Finalize(Id!, Configuration, linked);
        }
    }

    [JSInvokable]
    public Task OnLoadCallback()
    {
        return OnLoad.InvokeIfHasDelegate();
    }

    public override async ValueTask DisposeAsync()
    {
        await base.DisposeAsync();

        _initialized = false;
        _isCreated = false;

        _dotNetReference?.Dispose();
    }

    private async ValueTask SetProblemDetails(ProblemDetailsDto? details)
    {
        if (ReferenceEquals(ProblemDetails, details))
            return;

        ProblemDetails = details;
        await ProblemDetailsChanged.InvokeAsync(details);
    }

}